<% layout('layouts/boilerplate') %> 

<div class="row justify-content-center">
    <div class="col-6">

        <div id="coopCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <% coop.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i == 0 ? "active" : "" %>">
                        <img src="<%= img.url %> " class="d-block w-100" alt="...">
                    </div>
                <% }) %> 
            </div>
            <% if (coop.images.length > 1) { %> 
            <button class="carousel-control-prev" type="button" data-bs-target="#coopCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#coopCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %> 
          </div>

        <div class="card my-3">

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title d-flex"><%= coop.name %></h5>
                    <p class="card-text d-flex ">Owned by <%= coop.owner.username %> </p>
                </div>
                
                <p class="card-text"><%= coop.description %></p>

                <% if (user && coop.owner.equals(user._id)) { %> 
                    <a class="btn btn-primary" href="/coops/<%= coop._id %>/edit">Edit</a>
                    <form class="d-inline" action="/coops/<%= coop._id %>?_method=Delete" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %> 
            </div>
        </div>        

        <!-- New Chicken Form -->
        <% if (user && coop.owner.equals(user._id)) { %> 
            <div class="card my-3">
                <div class="card-body">
                    <form class="needs-validation" action="/coops/<%=coop._id%>/chickens" method="POST" novalidate>
                        <h4>Add Chicken</h4>
                        <div class="mb-3">
                            <label class="form-label" for="name">Name</label>
                            <input type="text" id="name" class="form-control" name="chicken[name]" required>
                        </div>
        
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" name="chicken[description]" id="description" cols="30" rows="5"></textarea>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label" for="male">Male</label>
                            <input type="radio" id="male" class="form-check-input" name="chicken[gender]" value="male" required>
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label" for="female">Female</label>
                            <input type="radio" id="female" class="form-check-input" name="chicken[gender]" value="female" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="birthdate">Birthdate</label>
                            <input type="date" id="birthdate" class="form-control" name="chicken[birthdate]" required>
                        </div>
        
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        <% } %> 
    </div>

    <div class="col-6">
        <% for (let chicken of coop.chickens) { %> 
            <div class="card my-3">
                <div class="card-body">
                    <h3 class="card-title"><%=chicken.name%> </h3>   
                    <p class="card-text"><%=chicken.description%> </p>   
                    <% if (user && coop.owner.equals(user._id)) { %> 
                        <form action="/coops/<%=coop._id%>/chickens/<%=chicken._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form> 
                    <% } %> 
                </div>
            </div>
        <% } %>
    </div>
</div>