<% layout('layouts/boilerplate') %> 

<div class="row justify-content-center">
    <div class="col-6 ">
        <div class="card my-3">
            <img src="<%= coop.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= coop.name %></h5>
                <p class="card-text"><%= coop.description %></p>
                <a class="btn btn-primary" href="/coops/<%= coop._id %>/edit">Edit</a>
                <form class="d-inline" action="/coops/<%= coop._id %>/delete?_method=Delete" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>        

        <div class="card">

        </div>
    </div>
</div>